<html>

<head>
<title>welcome to CWNAS</title>
</head>

<link rel="shortcut icon" herf="https://freelogo-assets.s3.amazonaws.com/sites/all/themes/freelogoservices/images/home_return/logo-bg2.png">

<body
background="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
>
<font color="blue" size='9'>WELCOME TO CWNAS</font><br>
<font color="black" size='6'>
cwnas is based on OMV v4<br>
this server was created by ChangWoo,Ha<br>
Services: FTP, SMB, SSH, autodownload, etc<br>
CWTeam pi is pi.cwnas.kro.kr(testing:cwnas.kro.kr)<br>
Contact: (hadotereng@gmail.com)<br>
<a href="ftp://cwnas.kro.kr">goto CWNAS(ftp)</a><br>
<a href="http://cwnas.kro.kr">goto CWNAS(setting page)</a><br>
<a href="http://cwnas.kro.kr/shellinabox">goto CWNAS(shell)</a><br><br>
associated with JWNAS
<a href="/jwnas">goto JWNAS</a>

</font>
</body>

</html>
