<html>

<head>
<title>welcome to the NASFAMILY</title>
<style>
body{
background-color: #000000
}


.button {

  display: inline-block;

  padding: 30px 50px;

  font-size: 24px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  outline: none;

  color: #000;

  background-color: white;

  border: none;

  border-radius: 15px;

  box-shadow: 0 9px #999;

}



.button:hover {background-color: tomato}



.button:active {

  background-color: #3e8e41;

  box-shadow: 0 5px #666;

  transform: translateY(4px);

}


</style>
</head>



<body
background-color: #000000
>
<img src="https://i.ibb.co/h1gwgJm/GG.jpg">
<br>
<font color="white" size='6'>
Our Services: <br>

</font>
<button class="button" onclick="location.href='./jwnas'">JWNAS</button> 
<button class="button" onclick="location.href='./cwnas'">CWNAS</button> 
<button class="button" onclick="window.open('http://help.hrnas.kro.kr')">HARAMSERVER</button> 
<button class="button" onclick="window.open('http://game.ggutu.kro.kr')">GGUTU(guest)</button> 

<font color="white" size='6'>
<br><br>Contact Us:<br>
</font>
<font color="white" size='4'>
hadoter@gmail.com<br>hongjwoo2@daum.com<br>leeharam2004@gmail.com
</font>
</body>

</html>
