<html>

<head>
<title>welcome to JWNAS</title>
</head>



<body
background="http://image.auction.co.kr/itemimage/16/67/5c/16675cf201.jpg"
>
<font color="yellow" size='9'>WELCOME TO JWNAS</font><br>
<font color="black" size='6'>
JWNAS is based on </font><font color="lightgreen" size='6'>nanostorage-NASN 321 R2</font><font color="black" size='6'> and </font><font color="orange" size='6'>synology-DS218+</font><font color="black" size='6'><br>
this server was created by Jeongwoo,Hong<br>
</font><font color="red" size='6'>Services: FTP</font><font color="black" size='6'><br>
Contact: (hongjwoo2@daum.net)<br>
<a href="ftp://jwnas.kro.kr">goto JWNAS_nanostorage NASN 321 R2(ftp)</a><br>
<a href="ftp://1.jwnas.kro.kr">goto JWNAS_synology DS218+(ftp)</a><br>
<a href="http://hongjwoo2.quickconnect.to">goto JWNAS_synology DS218+(DSM)</a><br>
<br>associated with CWNAS
<a href="ggutu.kro.kr:5000/cwnas">goto CWNAS</a><br>

</font>
</body>

</html>